<% include ../partials/header %>

<h1>Hi Im Your Response</h1>
<div class="container">
  <div class="row">
    <h1 style="text-align:center">Create a new forum post!</h1>
    <div style="width: 30%; margin: 40px  auto">
      <form action="/forums/<%=post._id%>/forumresponse" method="POST">       
        <div class="form-group">
            <textarea
            maxlength="400"
            class="input form-control"
            class="form-control"
            type="text"
            required
            name="content"
            placeholder="Respond to this post"
          ></textarea> 
        </div>
        <div class="form-group">
          <button
            class="btn btn-lg btn-default btn-block"
            type="submit">
            Submit
          </button>
        </div>
      </form> 
      <a href="/forums">Back</a>
    </div>
  </div>
</div>

<% include ../partials/footer %>
