<h1>This is the motors page!</h1>

<a href="motors/new">Add New Moto</a>

<% motors.forEach(motor => { %>
<div>
  <h4><%=motor.name%></h4>
  <img src="<%=motor.image%>" alt="photo" />
</div>
<% }); %>
