<% include partials/header %>

<div class="container">
  <div class="row">
    <h1 style="text-align:center">Show The World Your Motocycle</h1>
    <div style="width: 30%; margin: 40px  auto">
      <form action="/motocycles" method="POST">
        <div class="form-group">
          <input
            class="form-control"
            type="text"
            name="name"
            placeholder="Name"
          />
        </div>
        <div class="form-group">
          <input
            class="form-control"
            type="text"
            name="brand"
            placeholder="Brand"
          />
        </div>
        <div class="form-group">
          <input
            class="form-control"
            type="text"
            name="image"
            placeholder="Image Url"
          />
        </div>
        <!-- for a description, so far, but need a text area -->
        <div class="form-group">
          <input
            class="form-control"
            type="text"
            name="description"
            placeholder="Description"
          />
        </div>
        <div class="form-group">
          <button
            class="btn btn-lg btn-default btn-block btn-primary"
            type="submit"
          >
            Submit
          </button>
        </div>
      </form>
      <a href="/motocycles">Back</a>
    </div>
  </div>
</div>

<% include partials/footer %>
