<% include ./partials/header %>

<!--
  <form action="/register" method="POST">
    <input type="text" name="username" placeholder="username" />
    <input type="password" name="password" placeholder="password" />
    <button>Sign Up</button>
  </form>
-->

<div class="container">
  <div class="row">
    <h1 style="text-align:center">Motofy Yourself</h1>
    <div style="width: 30%; margin: 40px  auto">
      <form action="/register" method="POST" enctype="multipart/form-data">
        <div class="form-group">
          <input
            class="form-control"
            type="text"
            name="username"
            placeholder="Username"
          />
        </div>

        <div class="form-group">
            <input
            class="form-control"
            onclick=avatar.click();
            placeholder='Image'
          />
         
        </div>

        <div class="form-group">
          <input
            class="form-control"
            type="text"
            name="firstname"
            placeholder="First Name"
          />
        </div>

        <div class="form-group">
          <input
            class="form-control"
            type="text"
            name="lastname"
            placeholder="Last Name"
          />
        </div>

        <div class="form-group">
            <input
              class="form-control"
              type="text"
              name="dob"
              onfocus="(this.type='date')"
              placeholder="Date of birth"
            />
          </div>
          <!-- <input placeholder="Date" class="textbox-n" type="text" onfocus="(this.type='date')"  id="date"> -->
        <div class="form-group">
          <input
            class="form-control"
            type="text"
            name="city"
            placeholder="City"
          />
        </div>

        <div class="form-group">
          <select name="country" class="form-control">
            <option>Country</option>
              <% countryList.getData().forEach(function (country) { %>
              <option value="<%= country.name %>"> <%= country.name %> 
              <% }) %>
            </option>
          </select>
        </div>

        <div class="form-group">
          <input
            class="form-control"
            type="email"
            name="email"
            placeholder="Email"
          />
        </div>

        <div class="form-group">
          <input
            class="form-control"
            type="password"
            name="password"
            placeholder="Password"
          />
        </div>
        <div class="form-group">
            <!-- will try here -->
            <textarea
              class="input form-control"
              class="form-control"
              type="text"
              name="about"
              placeholder="Tell us a little something about you..."
            ></textarea>
          </div>
        <div class="form-group">
          <input
            class="form-control"
            type="password"
            name="admincode"
            placeholder="Admin code (leave blank if not an admin)"
          />
        </div>
        <div class="form-group">
          <button
            class="btn btn-lg btn-default btn-block btn-primary"
            type="submit"
          >
            Sign Up
          </button>
        </div>
        <a href="/motocycles">Back</a>
        <!-- hidden property for image upload -->
        <input
        class="form-control"
        type="file"
        id="avatar"
        name="avatar"
        accept="image/*"
        required
        placeholder="Profile pic"
        style="visibility:hidden"
      />
      </form>
      
    </div>
  </div>
</div>
<% include ./partials/footer %>
