<% include partials/header %>

<h1><%= motocycle.name %></h1>

<p><%= motocycle.brand %></p>

<img src="<%= motocycle.image %>" alt="Image" />

<p><%= motocycle.description %></p>

<% include partials/footer %>
