body,
html {
  height: 100%;
  margin: 0;
  /* font-family: Lato; */
  /* background-color:rgb(53, 104, 105); */
  background-color: black;
}
.navbar {
  margin: 0;
  padding: 0;
}
/* .container {
  background: black;
} */
header.jumbotron {
  /* background-color: rgb(145, 134, 155); */
  background: rgba(241, 162, 43, 0.904);
  /* move down from navbar */
  margin-top: 20px;
}

.trans {
  background: transparent;
  color: rgba(241, 162, 43, 0.904);
}
/* .bg {
  
  background-image: url('https://images.unsplash.com/photo-1491591265187-110a92898729?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=3718eb205b3c61ae0cda7ec35941de16&auto=format&fit=crop&w=1500&q=80');
} */


/* MOTORCYCLES */

.motopic {
  max-height: 200px;
}
.thumbnail img {
  width: 100%;
  /* background-size: cover;
  background-position: center; */
}
/* .thumbnail #equal{
  width: 100%;
  height: 250px;
} */

/* lose space inside between img and border */
.thumbnail {
  padding: 0;
}

/* move show.ejs down from navbar */
.col-md-9 .thumbnail {
  padding: 0;
  margin-top: 10px;
}
.delete-form {
  display: inline;
}

.navbar-header,
.navbar-collapse,
.navbar-brand,
.navbar-toggle,
.sr-only,
.container-fluid {
  background: rgba(241, 162, 43, 0.904);
}

/* not working!! */
.activeItem {
  background-color: #ff00a540;
}

.btn-black {
  background: black;
  color: rgba(241, 162, 43, 0.904);
}

.btn-black:hover {
  color: white;
}

/* .alert-danger,
.alert-success {
  margin-bottom: 0;
} */

.alert {
  margin-bottom: 0;
}

/* USERS */

.users {
  margin: 30px auto;
}

.btn-follow {
  color: wheat;
  background: transparent;
  border: 1px solid wheat;
}

.btn-follow:hover{
  color: rgba(241, 162, 43, 0.904); 
  
}

.avatarpic {
  margin: 20px;
}


.userinfo {
  border: 1px solid wheat;
  margin: 20px;
  padding: 10px 15px;
  color: wheat;
}

.userinfo li {
  text-decoration: none;
  list-style: none;
  padding: 5px;
    margin: 5px;
}

.userinfo a {
  color: rgba(241, 162, 43, 0.904)
}
.caption a {
  color: rgba(241, 162, 43, 0.904)
}
.userinfo h2 {
  text-align: center;
}

.userinfo img {
  max-width: 100px;
}

/* EVENTS STYLING */

.eventlist {
  border: 1px solid wheat;
}
.eventImage {
  width: 150px;
  margin: 15px 10px;
}

.media-body h5 {
  color: wheat;
}

.ul-Events {
  margin-top: 20px;
}
.btn-event {
  margin-left: 36px;
}
.btn-event:hover {
  color: greenyellow;
  /* color:aquamarine; */
}
/* a.btn {
  margin-top: 30px;
} */
.col-md-1 p {
  margin-top: 20px;
  color: wheat;
}

/* used just under the event for created by section*/
.userlink {
  color: gray;
  text-decoration: none;
}
.userlink:hover {
  color: rgba(241, 162, 43, 0.904);
  text-decoration: none;
}

/* FORUM STYLING */

/* USERS  */
.userpic {
  background: rgba(241, 162, 43, 0.904);
}

.userpic a {
  color: wheat
}

.forumpic {
  border: 1px solid wheat;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 20px;
}
.forumImage {
  width: 60px;
  margin: 15px 10px;
}
}

#collapseComment .well {
  background: antiquewhite;
}

.forum-well {
  background: wheat;
}

.btn-Forum {
  border: 2px solid black;
  background: rgba(241, 162, 43, 0.904);
  color: black;
}

.forum-title {
  text-align: center;
  padding: 5px;
  border: 1px solid black;
  color: black;
}
.forum-title hr {
  background: black;
}

.forumpost {
  border: 1px solid rgb(190, 144, 100);
  text-anchor: middle;
  color: wheat;
  text-orientation: sideways;
}

.forumpost h3 {
  padding-left: 15px;
}

.forumresponse p {
  font-weight: 600;
  font-size: medium;
  margin: 5px auto 5px 10px;
}

.trending {
  border: 1px solid wheat;
  margin: 20px auto;
  padding: 10px 10px;
}
/* FORUM  */

/* style="border-left: 5px solid #00C851; */
