<% include ../partials/header %>
<div class="container users">
  <div class="row">
    <div class="row text-center" style="display:flex; flex-wrap:wrap">
        <% users.forEach(user => { %>
        <div class="col-md-2 col-sm-3">
            <div class="thumbnail">
                <a href="/users/<%=user._id%>">
                    <div class="caption userpic">
                    <!-- <a href=""></a> -->
                    <img src="<%=user.avatar%>" 
                    alt="photo" 
                    style="width:5em; height:5em"/>
                </a>
                <h3><strong><%=user.username%></strong></h3>
                </div>
            </div>
        </div> 
        <% }) %>       
    </div>
  </div>
</div>
<% include ../partials/footer %>
